.adminProductsContainer {
  padding: 4rem;
  @include flex(column);

  &__CreateButtonWrapper {
    @include flex(row);
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  &__productsListWrapper {

    td, th {
      font-size: 1.8rem;
      color: $color1;
    }

    thead {
      tr {
        display: block;
        height: 5rem;

        th {
          width: 25rem;
          height: 3rem;
          vertical-align: middle;
          background: $color4;

          &:first-child {
            width: 5rem;
          }
        }
      }

    }

    tbody {
      height: 65vh;
      overflow-y: auto;
      display: block;

      tr {
        height: 5rem;

        th {
          width: 5rem;
          vertical-align: middle;
        }

        td {
          width: 25rem;
          text-align: center;
          vertical-align: middle;
          img{
            width: 10rem;
            height: 10rem;
          }
        }

      }
      .loadingTr{
        display: flex;
        justify-content: center;
      }

      .controls {
        svg {
          margin: 0 1rem;
          font-size: 3rem;
          background: $color1;
          color: $white;
          padding: 1rem;
          border-radius: 5rem;
          transition: all 0.5s ease-in-out;
          &:hover{
            background: $maroon;
            cursor: pointer;
          }
        }
      }
    }

  }
}