.adminContainer {
  margin-top: 9rem;
  @include flex(column);
  position: relative;

  &__drawerIcon {
    position: fixed;
    right: 2.5rem;
    width: 4rem;
    height: 4rem;
    @include flex_center(row);
    border-radius: 13rem;
    top: 3.2rem;
    padding: 0.5rem;
    z-index: 100000;
    background: $color1;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
      box-shadow: 0 0 4px 2px $white;
    }
  }

  &__navTabs {
    margin: 2rem 0;
    @include flex(column);

    &__item {
      padding: 1rem 2.5rem;
      transition: all 0.4s ease-in-out;
      @include flex(row);
      position: relative;
      margin-bottom: 1rem;
      //&:after{
      //  position: absolute;
      //  content: '';
      //  bottom: 0;
      //  left: 25%;
      //  height: 0.2rem;
      //  width: 50%;
      //  background: $color2;
      //}
      //
      //&:last-child {
      //  &:after{
      //    display: none;
      //  }
      //}

      h1 {
        margin-left: 2rem;
      }

      &:hover {
        cursor: pointer;
        background: $color3;
      }
    }

  }

  .active {
    background: $color3;
  }
}
