.adminContainer {
  margin-top: 9rem;
  min-height: 60rem;
  @include flex(column);
  align-items: center;

  &__sideMenu {
    background: $color4;
    margin: 2rem 0;
    @include flex(row);
    border-radius: 1rem;

    &__item {
      padding: 1rem 2.5rem;
      transition: all 0.4s ease-in-out;
      @include flex(row);
      position: relative;
      &:after{
        position: absolute;
        content: '';
        right: 0;
        top: 15%;
        width: 0.2rem;
        height: 70%;
        background: $color2;
      }

      &:first-child {
        border-radius: 1rem 0 0 1rem;
      }

      &:last-child {
        border-radius: 0 1rem 1rem 0;
        &:after{
          display: none;
        }
      }

      h1 {
        margin-left: 1rem;
      }

      &:hover {
        cursor: pointer;
        background: $color3;
      }
    }

  }

  .active {
    background: $color3;
  }
}
