.cartContainer {
  @include flex(column);
  margin-top: 10rem;
  padding: 6rem;
  min-height: 60rem;
  @include media-breakpoint-down(md) {
    padding: 6rem 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__cartWrapper {
    @include flex(row);
justify-content: space-between;
    &__cartDetails {
      flex-basis: 70%;
      padding: 2rem 0;
      @media (max-width: 1380px) {
        flex-basis: 50%;
      }
      @include media-breakpoint-down(md) {
        flex-basis: 100%;
      }

      .table {
        .MuiInput-input {
          text-align: center;
        }


        thead {
          background: $color4;
        }

        th,
        td {
          border: none;
          font-size: 1.6rem;
          color: $color1;
          vertical-align: inherit;
          text-align: center;
          min-width: 15rem;
          padding: 1rem;
        }

        .productDetailsWrapper {
          @include flex(row);

          img {
            width: 12rem;
            height: 12rem;
            margin-right: 1rem;
          }

          .details {
            @include flex(column);
            justify-content: center;

            p {
              margin: 1rem 0;
              text-align: start;
            }
          }
        }

        .deletionIcon {
          color: $color1;
          padding: 0 2rem;

          .MuiSvgIcon-root {
            transition: color 0.5s ease-in-out;

            &:hover {
              cursor: pointer;
              color: $text-hover;
            }
          }
        }
      }

      .counterControlsWrapper {
        width: 20rem;

        &__counterControls {
          @include flex(row);
          justify-content: center;

          .MuiButton-root {
            margin: 0.3rem;
            padding: 0.5rem;
          }
        }
      }


      .block {
        @include flex(row wrap);
        background: $color4;
        align-items: center;
        margin-bottom: 1rem;
        //@include media-breakpoint-down(xs) {
        //  @include flex(row wrap);
        //}

        .counterControlsWrapper {
          margin: 0 2rem;
          margin-left: auto;
          width: unset;
          @include flex_center(column);

          .MuiInput-input {
            text-align: center;
          }

          &__counterControls {
            @include flex(row);
            margin: 0 0.5rem;
          }
        }

        img {
          width: 15rem;
          height: 15rem;
          margin-right: 2rem;
          @include media-breakpoint-down(xs) {
            width: 100%;
            margin: 0;
          }
        }

        &__details {
          padding-top: 0.5rem;
          @include media-breakpoint-down(xs) {
            margin: 1rem;
          }

          p {
            font-size: 1.6rem;
            padding-bottom: 1rem;
          }
        }

      }


    }

  }

  &__continueShopping {
    @include flex(row);
    align-items: center;

    .MuiSvgIcon-root {
      font-size: 3rem;
    }

    a {
      font-size: 1.6rem;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $text-hover;
        cursor: pointer;
      }
    }
  }
}
