.sample{
  background: #f3e1e1;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}
.shopBarsContainer{
  @include flex(row);
  align-items: flex-start;
  padding: 5rem;
  min-height: 100vh;
  @include media-breakpoint-down(md){
    @include flex(column);
    align-items: center;
    padding-top: 2rem;
  }
  @include media-breakpoint-down(sm){
    padding: 0;
    padding-top: 2rem;
  }
  &__products{
    width: 100%;
    @include flex(row wrap);
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 60rem;
    .product{
      margin-top: 0;
    }
    @include media-breakpoint-down(md){
      margin-top: 3rem;
    }
    @include media-breakpoint-down(sm){
      justify-content: center;
    }
  }
}
