.profileContainer {
  min-height: 100vh;
  @include flex(column);
  padding: 15rem 10rem;
  @include media-breakpoint-down(sm) {
    padding: 15rem 1rem;
  }

  .formWrapper {
    @include flex(row);
    justify-content: space-between;
    width: 100%;
    @include media-breakpoint-down(md) {
      @include flex(column)
    }
  }

  &__profileImageWrapper {
    align-self: flex-start;
    background: $color4;
    padding: 3rem 2rem;
    flex-basis: 30%;
    @include flex_center(column);

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
      align-self: stretch;
    }


    img {
      width: 25rem;
      margin-bottom: 2rem;
    }
  }

  &__detailsWrapper {
    @include flex(column);
    flex-basis: 60%;
    @include media-breakpoint-down(md) {
      flex-basis: 100%;
      margin-top: 2rem;
    }

    &__contactWrapper {
      background: $color4;
      @include flex(row);
      padding: 2rem;
      padding-top: 5rem;
      justify-content: space-around;
      position: relative;
      @include media-breakpoint-down(sm) {
        @include flex(column)
      }
      &__title {
        background: $color3;
        font-size: 1.4rem;
        text-align: center;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
      }

      &__inputWrapper {
        flex-basis: 45%;
        @include flex(row);
        align-items: center;
        .MuiButton-root{
          margin-left: 1rem;
          margin-bottom: -1rem;
        }
      }

      &:after {
        position: absolute;
        height: 3rem;
        width: 100%;
        content: 'Contacts';
        top: 0;
        left: 0;
        background: $color3;
        color: $color1;
        font-size: 1.4rem;
        @include flex_center(row);
      }
    }

    &__addressWrapper {
      background: $color4;
      padding: 2rem;
      padding-top: 3rem;
      margin-top: 3rem;
      position: relative;
      @include flex(column);

      &__title {
        background: $color3;
        font-size: 1.4rem;
        text-align: center;
        padding: 0.5rem 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
      }


      &__addressButton {
        align-self: flex-end;
        margin: 2rem 0;
      }

      &__address {
        &__addressContainer {
          @include flex(row);
          align-items: center;
          background: $white;
          padding: 0 2rem;
          border: 0.1rem solid $gray-200;
          margin: 1.5rem 0;
          @include media-breakpoint-down(xs) {
            @include flex(column)
          }

          &__addressWrapper {
            margin: 1rem 0;
            padding: 2rem;
            width: 100%;
            position: relative;
            margin-left: 3rem;

            &:after {
              position: absolute;
              content: '';
              width: 0.1rem;
              height: 90%;
              background: $color1;
              top: 5%;
              left: 0;
            }

            p {
              font-size: 1.6rem;
            }

            &__control {
              @include flex(row);

              &__Button {
                background: none;
                border: none;
                font-size: 1.4rem;
                cursor: pointer;
                color: $maroon;
                transition: color 0.5s ease;
                padding: 0;
                margin-top: 1rem;
                margin-right: 1rem;

                &:focus {
                  outline: none;
                }

                &:hover {
                  color: $text-hover;
                }
              }

            }
          }
        }

      }
    }
  }

  &__buttonWrapper {
    width: 100%;
    @include flex_center(row);
    justify-content: center;
    margin-top: 3rem;
  }
}
