.shopMixBoxContainer {
  min-height: 100vh;
  @include flex(column);

  &__filtersWrapper {
    width: 100%;
    @include flex(row);
    justify-content: center;
    @include media-breakpoint-down(sm) {
      @include flex(column);
      align-items: center;
    }

    &__mixBox {
      @include flex(row);
      padding: 1rem 1.5rem;
      align-items: center;
      border: 0.1rem solid #e9ecef;
      margin: 0 4rem;
      @include media-breakpoint-down(xs) {
        margin: 0;
        margin-bottom: 1rem;
      }

      &__box {
        padding: 1rem 2rem;
        background: $color4;
        transition: all 0.5s ease-in-out;

        p {

          font-size: 1.6rem;
        }

        &--active {
          background: $color3;
        }

        &:hover {
          background: $color3;
          cursor: pointer;
        }
      }
    }
  }

  &__boxSummaryProductsWrapper {
    @include flex(row);
    margin: 4rem 2rem;
    align-items: flex-start;
    position: relative;
    @include media-breakpoint-down(sm) {
      @include flex(column);
    }


    &__mixBoxSummary {
      position: -webkit-sticky;
      position: sticky;
      top: 15rem;
      width: 35rem;
      height: 35rem;
      border: 0.1rem solid $hr-border-color;
      margin: 0 2rem;
      @include flex(column);
      justify-content: flex-start;
      transition: all 0.5s ease-in-out;
      @include media-breakpoint-down(sm) {
        width: 100%;
        position: fixed;
        height: 35rem;
        top: unset;
        bottom: 0;
        left: 0;
        z-index: 1000000;
        background: $color4;
        margin: 0;
      }
      @include media-breakpoint-down(sm) {
        height: 35vh;
      }

      &__header {
        background: $color2;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        p {
          font-size: 1.6rem;
        }
        &__clearBox{
          color: $color1;
          .MuiSvgIcon-root{
            transition: color 0.5s ease-in-out;
            &:hover{
              cursor: pointer;
              color: $text-hover;
            }
          }
        }
      }

      &__content {
        padding: 2rem;
        overflow-y: auto;

        &__item {
          @include flex(row);
          align-items: center;
          margin-bottom: 1rem;

          p {

            font-size: 1.4rem;
            margin-right: auto;
          }

          .MuiTextField-root {
            margin: 1rem;
          }

          .MuiInput-input {
            text-align: center;
          }

          &__counterControls {
            @include flex(column);

            .MuiButton-root {
              margin: 0.3rem;
              padding: 0.5rem;
            }
          }
        }


      }

      &__controlWrapper {
        margin-top: auto;


        &__progressBar {
          padding: 2rem;
          position: relative;
          @include media-breakpoint-down(sm) {
            padding-top: 2.5rem;
            padding-bottom: 1rem;
            box-shadow: 0 0 0.1rem 0.1rem $color2;
          }

          &__min {
            position: absolute;
            left: 2rem;
            top: 0;

            p {
              font-size: 1.4rem;
            }
          }

          &__max {
            position: absolute;
            right: 2rem;
            top: 0;

            p {
              font-size: 1.4rem;
            }
          }

          .MuiLinearProgress-root {
            height: 0.8rem;
            border-radius: 0.5rem;
          }

          .MuiLinearProgress-colorPrimary {
            background-color: $color3;
          }

          .MuiLinearProgress-barColorPrimary {
            background-color: $color1;
          }
        }

        &__addToCart {
          margin-top: auto;
        }

      }

    }

    &__products {
      @include flex(row wrap);
      align-items: flex-start;
      width: 100%;
      min-height: 60rem;
    }
  }
}
