.shopMixBoxContainer {
  min-height: 100vh;
  @include flex(column);
  align-items: center;


  &__boxSummaryProductsWrapper {
    @include flex(row);
    margin: 4rem 2rem;
    align-items: flex-start;
    position: relative;
    width: 100%;
    @include media-breakpoint-down(sm) {
      @include flex(column);
    }




    &__products {
      @include flex(row wrap);
      align-items: flex-start;
      width: 100%;
      min-height: 60rem;
    }
  }
}
