.myOrdersContainer{
  @include flex(column);
  margin-top: 10rem;
  padding: 6rem 15rem;
  @include media-breakpoint-down(md){
    padding: 6rem 3rem;
  }
  @include media-breakpoint-down(sm){
    padding: 6rem 1rem;
  }
  &__title{
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  &__pagination{
    @include flex(row);
    justify-content: center;
    margin: 2rem 0;
  }
}
