.formWrapper {
  @include flex(row wrap);
justify-content: space-between;
  &__inputWrapper {
    margin: 0.5rem 1rem;
    width: 40%;
    @include media-breakpoint-down(xs){
      width: 100%;
    }
    &--full {
      width: 100%;
    }
  }
  .resendCode{
    margin-left: 1rem;
    transition: color 0.3s ease-in-out;
    &:hover{
      cursor: pointer;
      color: $text-hover;
    }
  }
}
