.headerOuterContainer {
  @include flex(column);
  max-width: 160rem;
  //height: 9.5rem;
  background: $color3;
  position: fixed;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  right: 0;
  left: 0;
&__headerTopContainer{
  background:#ead2d2;
  width: 100%;
  padding: 0.3rem 0;

  a{
    font-size: 1.4rem;
    margin-right: 1rem;
  }
}
  &__headerContainer {
    width: 100%;
    @include flex(row);
    height: 7rem;

    &__logo {
      flex-basis: 50%;
      @include flex(row);
      align-items: center;
      justify-content: flex-start;
      position: relative;

      &__wrapper {
        position: absolute;
        top: 0;
        left: 5rem;
        font-family: proza-libre, sans-serif;
        @include flex_center(column);
        height: 13rem;
        background: #f5dada;
        padding: 0 1rem;

        img {
          width: 5rem;
          height: 5rem;
          margin-bottom: 1.8rem;
        }

        p {
          font-size: 2.2rem;
          text-align: center;
          line-height: 2.5rem;
          padding: 0 1.5rem;

          span {
            font-size: 1.6rem;
          }
        }
      }


    }

  }

  &__navigationTabs {
    flex-basis: 50%;
    @include flex(row);
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    .MuiMenu-paper{
      background: red;
    }
    &__userSection {

      @include flex(row);
      align-items: center;
      margin-right: 3rem;
      cursor: pointer;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        right: -2rem;
        top: -0.8rem;
        height: 4rem;
        width: 0.2rem;
        background: $color4;
      }
      p{
        margin-left:  0.8rem;
        font-size: 1.6rem;
      }
    }

    &__tab{
      font-size: 1.8rem;
      margin-right: 1rem;
      transition: color 0.5s ease;

      &:hover {
        color: $text-hover;
      }

      &.active {
        color: $text-hover;
      }
    }

    &__cartIcon {
      &:focus {
        outline: none;
      }
    }
  }
}


