.shopBarsContainer{
  @include flex(row);
  align-items: flex-start;
  padding: 5rem;
  min-height: 100vh;
  @include media-breakpoint-down(md){
    @include flex(column);
    align-items: center;
    padding-top: 2rem;
  }
  @include media-breakpoint-down(sm){
    padding: 0;
    padding-top: 2rem;
  }
  &__products{
    width: 100%;
    @include flex(row wrap);
    justify-content: flex-start;
    .product{
      margin-top: 0;
    }
    @include media-breakpoint-down(md){
      margin-top: 3rem;
    }
    @include media-breakpoint-down(sm){
      justify-content: center;
    }
  }
}
