$color1:#7D5A5A;
$text-hover: #cd9292;
$color2:#F1D1D1;
$color3:#F3E1E1;
$color4:#FAF2F2;
$maroon:#901a25;
$background-gradient: linear-gradient(180deg, rgba(250, 242, 242, 0) 0%, #FAF2F2 100%);
$background-gradient-opposite: linear-gradient(0deg, rgba(250, 242, 242, 0) 0%, #FAF2F2 100%);
$line-gradient:linear-gradient(to left, rgba(255, 255, 255, 0), rgba(226, 212, 194, 1));
$line-gradient-white:linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
