@import "_variables";
@import "_mixins";

$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        md: 768px,
        lg: 1024px,
        xl: 1300px
) !default;
@import "./bootstrap/bootstrap";
@import "_imports";


@font-face {
  font-family: 'proza-libre';
  src: url("../assets/fonts/ProzaLibre-Regular.ttf");
}

@font-face {
  font-family: 'lobster';
  src: url("../assets/fonts/Lobster-Regular.ttf");
}
.appContainer{
  @include flex(column);
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: proza libre, sans-serif;
  max-width: 160rem;
  margin-right: auto;
  margin-left: auto;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(175, 151, 151, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: $color1;
  //outline: 1px solid slategrey;
}


html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

  &:active {
    color: $color1;
  }

  &:hover {
    text-decoration: none;
    color: $color1;
  }
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  color: $color1;
}

.notification {
  h4, div {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
.MuiMenu-paper {
  background: #f3e1e1 !important;

  ul{
    li{
      font-size: 1.6rem !important;
    }
  }
}
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #F1D1D1 inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #F1D1D1 inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
