.listingContainer {
  width: 70%;
  height: 85vh;
  @include flex(column);
  @include media-breakpoint-up(xl) {
    height: auto;
  }
  &__searchBar {
    background: $color3;
    @include flex(row);
    align-items: center;
    border-radius: 0.5rem;
    margin: 0 1rem;

    .MuiTextField-root {
      margin: 0.7rem 1rem;
    }

    .MuiSvgIcon-root {
      margin: 0 1rem;
    }
  }

  &__listingWrapper {
    border: 0.2rem solid $color3;
    box-shadow: 0 0 3px 1px $gray-300;
    padding: 1rem;
    margin: 1rem;
    overflow-y: auto;
    height: 60vh;
    flex-grow: 1;
    @include flex(row wrap);
    align-content: flex-start;


  }

  &__listingCategoriesWrapper {
    @include flex(row wrap);
    justify-content: center;

    &__category {
      margin: 0.3rem;
      background: $color3;
      padding: 1.5rem 2.5rem;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      border-radius: 0.3rem;
      display: flex;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 1.8rem;
        @include media-breakpoint-down(md) {
          font-size: 1.6rem;
        }
      }

      &:hover {
        background: $color2;

      }
    }
  }
}
