.formContainer {
  width: 100%;
  background: $background-gradient;
  min-height: 100vh;
  @include flex_center(row);

  &__formWrapper {
    background: $white;
    border: 1px solid $gray-200;
    padding: 2rem;
    box-shadow: 0 0 0.3rem 0.1rem $color3;
    width: 50rem;
    @include flex_center(column);
    margin-top: 7rem;
    @include media-breakpoint-down(sm) {
      width: 90%;
    }


    h1 {
      margin-bottom: 2rem;
      @include media-breakpoint-down(sm){
        font-size: 1.8rem;
      }
    }

    p {
      font-size: 1.6rem;
      @include media-breakpoint-down(sm){
          font-size: 1.4rem;
      }
      a {
        transition: color 0.5s ease;

        &:hover {
          color: $text-hover;
        }
      }
    }
    &__HL{
      width: 90%;
      height: 0.5rem;
      background: $color2;
      margin: 2rem 0;
    }
    &__forgotPassword{
      align-self: flex-start;
      font-size: 1.6rem;
      margin-top: 1rem;
      @include media-breakpoint-down(sm){
        font-size: 1.4rem;
      }
    }
  }
}
