.luxuryBoxContainer {
  @include flex(column);
  align-items: center;
  position: relative;


  .shopFiltersContainer {
    width: 100%;
    justify-content: flex-end;
  }

  .filtersWrapper {
    &__mixBox {
      &__box {
        padding: 1rem 6rem;
        @include media-breakpoint-down(xs) {
          padding: 1rem 3rem;
        }
      }
    }
  }

  &__title {
    margin: 3rem 0;
    @include media-breakpoint-down(sm) {
      font-size: 1.8rem;
    }
  }

  &__luxuryBoxPackagesWrapper {
    @include flex(row);
    margin: 4rem 0;

    &__package {
      @include flex(column);
      align-items: center;
      margin: 0 4rem;
      transition: all 0.5s ease-in-out;
      position: relative;
      @include media-breakpoint-down(sm) {
        margin: 0 1rem;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0.3rem 0.2rem $color1;
        border-radius: 0.5rem;
      }

      &--active {
        box-shadow: 0 0 0.3rem 0.2rem $color1;
        border-radius: 0.5rem;
      }

      img {
        width: 20rem;
        height: 14rem;
        border-radius: 0.5rem 0.5rem 0 0;
        @include media-breakpoint-down(sm) {
          width: 15rem;
          height: 10rem;
        }
        @include media-breakpoint-down(xs) {
          width: 10rem;
          height: 8rem;
        }
      }

      p {
        margin: 1rem 0;
        font-size: 1.6rem;
      }

    }
  }

  &__productsWrapper {
    @include flex(row);
    width: 100%;
    margin: 4rem 2rem;
    align-items: flex-start;
    position: relative;

    &__products {
      @include flex(row wrap);
      width: 100%;
      min-height: 60rem;
      align-items: flex-start;
    }
  }
}
