.luxuryBoxContainer {
  @include flex(column);
  align-items: center;
  position: relative;


  .shopFiltersContainer {
    width: 100%;
    justify-content: flex-end;
  }

  &__title {
    margin: 2rem 0;
  }

  &__luxuryBoxPackagesWrapper {
    @include flex(row);
    margin: 4rem 0;

    &__package {
      @include flex(column);
      align-items: center;
      margin: 0 4rem;
      transition: all 0.5s ease-in-out;
      position: relative;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0.3rem 0.2rem $color1;
        border-radius: 0.5rem;
      }

      &--active {
        box-shadow: 0 0 0.3rem 0.2rem $color1;
        border-radius: 0.5rem;
      }

      img {
        width: 20rem;
        height: 14rem;
        border-radius: 0.5rem 0.5rem 0 0;
      }

      p {
        margin: 1rem 0;
        font-size: 1.6rem;
      }

    }
  }

  &__productsWrapper {
    @include flex(row);
    width: 100%;
    margin: 4rem 2rem;
    align-items: flex-start;
    position: relative;

    &__products {
      @include flex(row wrap);
      width: 100%;
      min-height: 60rem;
    }
  }
}
